body{
    background-image: url(imagem/fitclass.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    
        
    margin: auto;
    background-color: bisque;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.titulo{
    background-color: bisque;
    height: 100px;
    width: 500px;
    text-align: center;
    color: rgb(7, 19, 41);
    border-radius: 5%;
    padding-bottom: 70px;
    border: 5px solid black;
    padding-left: 25%;
    padding-right: 25%;
    margin-left: 290px;
}





.menu{
    text-align: center;
    padding-top: 20px;
    background-color: black;
   
    
}


h1{
    padding-top: 40px;
}


.menu li{
    
    list-style-type: none;
    
   
    display: inline-block;
    padding: 0px;
}
.menu a{
    color: wheat;
    padding: 16px ;
    display: inline-block;
}
.menu a:hover{
   
    color: rgb(250, 248, 248);
    text-decoration: none;
}

#motivacao1{
    color: aliceblue;
}
#motivacao2{
    color: aliceblue;
}

#forte{
    float: left;
    height: 300px;
    height: 300px;
    border-radius:50%;
    border: 5px solid wheat;
}

#forte1{
    height: 300px;
    height: 300px;
    border-radius:10%;
    border: 5px solid wheat;
    float: right;
}
#motivacao1{
    line-height: 2;
    text-align: justify;
}

#motivacao2{
    line-height: 2;
    text-align: justify;
}

.primeira{
    background-color: aqua;
    flex-direction: column;
    height: 500px;
}

.segunda{
    background-color: aqua;
}

.terceira{
    background-color:aqua
}